.toast{
    @apply 
    absolute
    z-[10]
    flex
    md:right-10
    right-3
    top-24
    shadow-lg
    border
    rounded-2xl
    border-slate-200
    text-black
    dark:text-slate-100
    text-[12px]
    py-5
    px-2
    items-center
    
}

.toast-success{
    @apply
    border-l-8
    border-l-dark-green
    dark:bg-dark-green
    bg-white
    dark:border-transparent

}

.toast-error{
    @apply
    border-l-8
    border-l-dark-red
    dark:bg-dark-red
    bg-white
    dark:border-transparent

}

.toast-info{
    @apply
    border-l-8
    border-l-dark-blue
    dark:bg-dark-blue
    dark:border-transparent
    bg-white
}

.toast-warning{
    @apply
    border-l-8
    border-l-dark-yellow
    dark:bg-dark-yellow
    dark:border-transparent
    bg-white

}


